@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css');
#url,
.btn,
.form-group,
.btn:hover {
  border: var(--bs-border-width) solid var(--bs-border-color);
}
.send-btn {
  border-radius: 6px !important;
}
:focus-visible {
  outline: none !important;
}
.btn-delete {
  border-radius: 0px;
  /* width: 50px; */
}
.loader {
  width: 38px;
  height: 38px;
  border: 4px dotted #009cdf;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 